*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background: black;
}

#canvas1{
    /* background: blue; */
    position: absolute;
    top:0;
    left: 0;
}

.controls{
    position: absolute;
    z-index: 100;
}

img{
    display: none;
}

button{
    padding:10px;
    font-size: 30px;
    margin:20px;
}